body{
    background-color: deepskyblue;
}
h1{
    color:red;
    background-color:rgb(119, 0, 255);
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 5px 5px 38px red;}
    to{box-shadow: 5px 5px 38px black;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}